@use '../../index.scss';

.project-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-gap: 60px;
}

.project-summary {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;

  .due-date {
    margin: 10px 0;
    border-radius: 4px;
    color: index.$text-color;
  }

  .details {
    margin: 30px 0;
    color: index.$text-color;
    line-height: 1.8em;
    font-size: 0.9em;
  }

  h4 {
    color: index.$text-color;
    font-size: 0.9em;
  }

  .assigned-users {
    display: flex;
    margin-top: 20px;

    .avatar {
      margin-right: 10px;
    }
  }

  & + .btn {
    margin-top: 20px;
  }
}

.project-comments {
  label {
    margin-bottom: 0;
  }

  textarea {
    min-height: 40px;
    font-size: 1.5em;
  }

  h4 {
    color: index.$heading-color;
  }

  li {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgb(0 0 0 /0.05);
    background-color: #fff;
  }
}

.comment-author {
  display: flex;
  align-items: center;
  color: index.$text-color;

  .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.comment-date {
  color: index.$text-color;
  font-size: 0.9em;
  margin: 4px 0 10px;
}

.comment-content {
  color: index.$text-color;
  font-size: 0.9em;
}
